
@{
    ViewBag.Title = "Index";
}



<div class="searchbox">
    <div class="searchfix" style="margin-left:15px">
        <div class="col-sm-3">
            <label for="keyword">What</label>
            <input type="text" class="form-control" id="keyword" placeholder="Enter keywords" style="font-size:small">
        </div>
        <div class="col-sm-3">
            <label>Classification</label>
            <select type="text" id="selectClassfication" class="form-control" style="font-size:small" placeholder="Any Classification">
                <option>Accounting</option>
                <option>Banking</option>
                <option>Construction</option>
                <option>Design</option>
                <option>Engineering</option>
                <option>Farming</option>
                <option>Government</option>
                <option>Human Resources</option>
                <option>Information & Communication Technology </option>
            </select>
        </div>
        <div class="col-sm-3">
            <label for="location">Where</label>
            <input type="text" id="location" class="form-control" style="font-size:small" placeholder="Enter Location">
        </div>
        <div class="col-sm-2">
            <label style="visibility:hidden">search</label>
            <button class="form-control">Finder</button>
        </div>
    </div>
</div>
<div class="container" style="width:100%;overflow:hidden;height:100%;background-color:#e5e6f1">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/findimg.png" class="img-fluid" alt="findimg" style="height:300px;width:220px">
        </div>

        <div class="col-md-4">
            <h2 style="font-weight:bold">We are here to help you find your next job</h2>
            <p>Get job now from NZJobFinder</p>
            <hr style="border:0;width:100px;height:8px;border-radius: 6px;margin: 0 auto 0 0;margin-bottom: 15px;margin-top: 15px;background-color:#CC73E1" />
            <button style="border-radius:3px;border:solid 1px #000000;background-color:#ffffff">
                 <a href="/" style="text-decoration:none;color:#000000">Explore</a>
            </button>
        </div>
    </div>
</div>

<div class="container" style="overflow:hidden">
    <div class="row">
        <div class="imgfind">
            <img src="~/Content/Images/dream-job.png" class="img-fluid" alt="searchJob" >
        </div>
    </div>
</div>











