
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <div class="card text-center container" style="width: 25rem">
        <img class="card-img-top" src="~/Content/Images/Logo0.svg" alt="logo" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">NZJobFinder</h5>
            <p class="card-text">IF you have any query, please request through below thank you</p>
            <a href="https://github.com/haganmao" class="btn btn-primary">GitHub</a>
        </div>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
