
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="background-color:#e5e6f1;width:100%;margin-top:52px">
    <form method="post" class="msg_pass" id="msgpass" onsubmit="alert('Thank you for your message!')" action="~/feedback/msgpass">
        <div class="form-group">
            <p id="msgSubtitle">We aim to help you have a better experience on our site, So keep in touch</p>

            <label for="msgName">Your Name</label>
            <input id="msgName" type="text" class="input-control form-control" name="feedName" placeholder="Your name" autofocus />

            <label for="msgEmail">Email Address</label>
            <input id="msgEmail" type="email" class="input-control form-control" name="feedEmail" placeholder="Your email address" />

            <label for="msg">Message</label>
            <input id="msg" type="text" class="input-control form-control" name="feedMessage" placeholder="Your message" />

            <button class="btnSend form-control" id="btnMSGSending" type="submit" style="margin-top:5px">Send</button>
        </div>
    </form>
</div>